@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$mainColor: #005CA9;

body{
  font-family: 'Roboto', sans-serif;
  background: #F4F4F4;
}
.mainNav{
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0 5px 10px #E5E5E5;
  font-family: 'Roboto', sans-serif;
  .navbardrop{
    color: $mainColor;
  }
  .dropdown{
    border-top:    none;
    border-right:  1px solid #F0F0F0;
    border-bottom: none;
    border-left:   1px solid  #F0F0F0;
    .userDropdown{
      a.dropdown-item{
        font-size: 14px;
        border-bottom: none;
      }
      a.dropdown-item:nth-child(2){
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .navbar-nav{
    flex-direction: row;
  } 
  .nav-link{
    font-size: 14px;
    color: #777777;
    &:hover{
      color: $mainColor;
    }
  }
  .userImg{
    width: 30px;
    height: 30px;
    border: 1px solid #C4C4C4;
    background: #E3E3E3;
    float: right;
    margin-left: 5px;
    margin-top: -0.3rem;
    border-radius: 50%; 
  }
  .dropdown-menu{
    position: absolute;
    .dropdown-item{
      font-size: 9px;
      padding: 10px;
      border-bottom: 1px solid #C4C4C4; 
    }
    .dropdownImg{
      width: 40px;
      height: 40px;
      border: 1px solid #C4C4C4;
      background: #E3E3E3;
      margin-left: 5px;
      float: left;
      margin-top: -0.3rem;
      border-radius: 50%; 
      vertical-align: middle;
      margin-top: 3px;
    }
    .dropdownContent{
      margin-left: 55px;
      font-size: 11px;
      &Title{
        color: #333333;
        font-weight: 600;
        margin: 0;
      }
      &Desc{
        color: #555;
        margin: 0;
        span{
          font-weight: bold;
          color: $mainColor;
        }
      }
    }
    .viewall-btn{
      text-align: center;
      position: relative;
      margin: 0 auto;
      padding: 8px 5px 0 5px;
      a{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        color: #333333;
      }
    }
  }
}


.upload{
  textarea{
    resize: none;
    min-height: 100px
  }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100%;
    height: 30px;
  }
  .bootstrap-select > .dropdown-toggle.bs-placeholder,.btn-light{
    height: 30px;
    border: 1px solid #ced4da;
    background: none;
    color: #777777;
  }
  .bootstrap-select .dropdown-toggle .filter-option{
    padding: 4px 15px;
    font-size: 14px;
  }
  .bootstrap-select .dropdown-menu.inner{
    font-size: 14px;
  }
}

.memberlist{
  .marked{
    color: $mainColor!important;
  }
  .getContact{
    color: #fff;
    background: $mainColor;
    border: 1px solid $mainColor;
    padding: 5px 25px;
    border-radius: 2px;
  }
}

button.main-btn,.action-btns{
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid $mainColor;
  background: $mainColor;
  color: #fff;
  letter-spacing: .3px;
  margin: 5px 0;
  transition: all .3s;
  padding: 5px 30px;
  &:hover{
    background: #fff;
    color: $mainColor;
  }
}

.action-btns{
  width: 100%;
}


.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\2605"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #777; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


.personal{
  &Info{
    font-size: 14px;
    p{
      color: #777777!important;
    }
    &Title{
      font-weight: bold;
      margin: 10px 0;
    }
  }
  .card-center{
    font-weight: normal!important;
    a{
      text-decoration: underline;
    }
  }
  .card-right{
    .outline-disable-btn{
      border: 1px solid #777;
      color: #777777;
      &:hover{
        background: #777777;
        color: #fff;
      }
    }
    .outline-danger-btn{
      border-color: #EA3333;
      color: #EA3333;
      &:hover{
        background: #EA3333;
        color: #fff;
      }
    }
    button{
      border-radius: 3px;
      width: 100%;
      font-size: 13px;
      border: 1px solid $mainColor;
      background: none;
      color: $mainColor;
      font-weight: bold;
      margin: 5px 0;
      transition: all .3s;
      padding: 5px 0;
      &:hover{
        background: $mainColor;
        color: #fff;
      }
    }
    button.hire-btn{
      color: #fff;
      background: $mainColor;
      &:hover{
        background: #fff;
        color: $mainColor;
      }
    }
  }
}
.myModal{
  button.close{
    font-size: 20px;
  }
  .modal-title{
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
  }
  button.btn{
    color: #fff;
    background: #777777;
    font-size: 14px;
    width: 70px;
  }
  color: #777777;
  font-size: 14px;
}
.client{
  color: #777;
  .breadcrumb{
    background: none;
    font-size: 14px;
    padding: 0;
    a{
      color: #777777;
    }
    .active{
      color: $mainColor;
      font-weight: bold;
    }
  }
  margin-top: 30px;
  .clientInfo{
    text-align: center;
    color: #777777;
    p{
      font-size: 14px;
      padding: 0;
      margin-bottom: 0;
      &:first-child{
        font-weight: bold;
      }
    }
    .UserImage{
      border-radius: 50%;
      width: 100px;
      position: relative;
      margin: 0 auto;
      height: 100px;
      background: #E3E3E3;
      border: 1px solid #C4C4C4;
      img{
        width: 100%;
      }
    }
    .search-input{
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
      height: 30px;
      overflow: hidden;
      border-radius: 3px;
      input{
        height: 30px;
        font-size: 12px;
        border: none;
      }
      button{
        border: none;
        background: $mainColor;
        width: 30px;
        padding: 0px 8px;
        img{
          width: 100%;
        }
      }
    }
    #filter-count{
      font-size: 14px;
    }
  }
  .card{
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
    &-body{
      padding: .75rem 2rem;
      .form-control{
        height: 30px;
        font-size: 14px;
        padding: 4px 10px;
      }
    }
    &-header{
      padding: .75rem 2rem;
      background: #FBFBFB;
      font-weight: bold;
      color: #777777;
      font-size: 14px;
      .threeDots{
        float: right;
        background: transparent url(../img/more.svg);
        border: none;
        height: 18px;
        outline: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .dropdown-menu{
        font-size: 12px;
        width: max-content;
        a{
          display: block;
          padding: 2px 15px;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .userTitle{
      font-size: 12px;
      .userImg{
        float: left;
      }
      p{
        padding: 0;
        margin: 0 50px;
      }
      .userName{
        color: $mainColor;
      }
      .userCategory{
        font-weight: bold;
      }
      .hireBtn{
        float: right;
        border: none;
        background: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
        padding: 2px 15px;
        color: $mainColor;
        border-radius: 2px;
        margin: 5px 0;
      }
    }
    .userInfo{
      margin: 8px 0;
      font-size: 12px;
    }
  }
}
.projectList{
  font-size: 14px;
  .list-group-item{
    padding: 0.75rem 2rem;
    &:hover .title{
      color: $mainColor;
      text-decoration: underline;
    }
  }
  
}
.techInfo{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  li{
    margin: 0 10px 0 0;
    background: #E5E5E5;
    padding: 2px 20px;
    color: #777777;
    border-radius: 20px;
    display: inline-block;
    &:hover{
      color: #fff;
      background: #36C8D9;
    }
  }
}
.projectHeader{
  ul{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    li:not(.title){
      color: #fff;
      font-size: 12px;
      margin: 0 5px;
      display: inline-block;
      border-radius: 20px;
      background: $mainColor;
      padding: 2px 20px;
    }
    .title{
      font-size: 14px;
      margin-right: 10px;
      display: inline-block;
      margin-left: 0;
      font-weight: bold;
      color: #333333
    }
  }
}

.avatar{
  position: relative;
}

.custom-file-input1 {
  margin: 20px 0;
  color: transparent;
}
.custom-file-input1::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input1::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: 'Change avatar';
  color: #777777;
  display: inline-block;
  background: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input1:hover::before {
  border-color: black;
}
.custom-file-input1:active {
  outline: 0;
}
.custom-file-input1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.projectHistory{
}

.settings{
  .tableinputs{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    height: 100%;
    color: #333;
  }
  button.danger{
    height: 30px;
    padding: 2px 25px;
  }
  .table{
    td:last-child{
      width: 100px;
    }
  }
  button.save{
    padding: 2px 50px;
    font-size: 14px;
    color: #fff;
    background: $mainColor;
    border: 1px solid transparent;
    transition: all .2s;
    border-radius: 2px;
    &:hover{
      color: $mainColor;
      background: #fff;
      border-color: $mainColor;
    }
  }
  .bootstrap-select{
    width: 100%!important;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    button{
      padding: 3px 10px;
      outline: none;
    }
    .dropdown-menu{
      font-size: 14px;
      input{
        height: 30px;
        padding: 5px 10px;
        outline: none!important;
        box-shadow: none;
      }
    }
  }
  .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
    font-size: 14px;
  }
  textarea{
    resize: none;
    width: 100%;
    height: 100px;
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
  }
}

.landing{
  .nav-link{
    font-size: 12px;
    text-transform: capitalize;
    border: 1px solid $mainColor;
    padding: 2px 20px!important;
    margin: 0 5px;
    border-radius: 3px;
    transition: all .2s;
  }
  .sign{
    color: #fff;
    background: $mainColor;
    &:hover{
      color: $mainColor;
      background: #fff;
    }
  }
  .login{
    color: $mainColor;
    &:hover{
      color: #fff;
      background: $mainColor;
    }
  }
}

.forgot{
  padding: 10px 0;
  text-decoration: none!important;
  color: $mainColor;
  font-weight: bold;
}

#signIn, #signUp{
  h3{
    color: #333;
    font-weight: bold;
  }
  .form-control{
    height: 30px;
    font-size: 14px;
  }
}

.landing-main{
  .centered{
    top: 52%; 
    position: fixed; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
  background: url(../img/back.svg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 100%;
  h2{
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .marked{
    color: #fff;
    background: $mainColor;
    padding: 2px 10px;
  }
  img{
    max-width: 400px;
  }
  
  button{
    outline: none;
    margin: 20px 0;
    border: 2px solid transparent;
    background: #fff;
    border-radius: 40px;
    padding: 5px 20px;
    color: $mainColor;
    font-weight: bold;
    transition: all .2s;
    &:hover{
      color: #fff;
      background: $mainColor;
      border-color: #fff;
    }
  }
  p{
    span{
      display: block;
      color: $mainColor;
      font-size: 20px;
    }
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

// mixin media queries functions
@mixin mediaMaxWidthWithoutOrient($mediaMaxWidth) {
  @media only screen and (max-width: $mediaMaxWidth){
    @content;
  }
}
@mixin mediaMaxWidth($mediaMaxWidth, $orientation) {
  @media only screen and (max-width: $mediaMaxWidth) and (orientation: $orientation) {
    @content;
  }
}

@mixin mediaMinWidth($mediaMinWidth, $orientation) {
  @media only screen and (min-width: $mediaMinWidth) and (orientation: $orientation) {
    @content;
  }
}

@include mediaMaxWidth(990px, landscape){
  .landing-main{
    h2{
      font-size: 1.5em;
    }
    p{
      margin: 0;
      font-size: 0.9rem;
      span{
        font-size: 0.9rem;
        display: initial;
      }
    }
    button{
      padding: 3px 10px;
      font-size: 12px;
    }
  }
  .landing-main img{
    max-width: 180px;
  }
}

@include mediaMaxWidth(768px, landscape){
  .nav-link span{
    display: none;
  }
  .mainNav .dropdown{
    width: max-content;
    padding: 0 10px;
  }
  .mainNav{
    padding: 0 1rem;
  }
  .card{
    margin: 5px 0;
  }
  .landing-main{
    h2{
      font-size: 1em;
    }
    p{
      margin: 0;
      font-size: 0.7rem;
      span{
        font-size: 0.7rem;
        display: initial;
      }
    }
    button{
      padding: 1px 5px;
      font-size: 12px;
    }
  }
  .landing-main img{
    max-width: 150px;
  }
}

@include mediaMaxWidth(768px, portrait){
  .card{
    margin: 5px 0;
  }
  .navbar-brand{
    width: 70%;
    img{
      width: 300px;
    }
  }
  .nav-link span{
    display: none;
  }
  .mainNav .dropdown{
    width: max-content;
    padding: 0 10px;
  }
  .nav-item{
    display: inline;
  }
  .mainNav{
    padding: 0 1rem;
  }
  .mainNav .dropdown-menu{
    right: 0;
    left: inherit;
  }
}



@include mediaMaxWidth(567px, portrait){
  .navbar-brand{
    width: 70%;
    img{
      width: 100%;
    }
  }
  .landing{
    .navbar-brand{
      width: 150px;
    }
    .nav-link{
      margin: 0 2px;
      font-size: 10px;
      padding: 0 10px!important;
    }
  }
  .landing-main{
    h2{
      font-size: 1.5em;
    }
    p{
      margin: 15px 0;
      font-size: 0.9rem;
      span{
        font-size: 0.9rem;
        display: initial;
      }
    }
  }
  .landing-main img{
    max-width: 280px;
  }
}