@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  background: #F4F4F4;
}

.mainNav {
  width: 100%;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #E5E5E5;
          box-shadow: 0 5px 10px #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.mainNav .navbardrop {
  color: #005CA9;
}

.mainNav .dropdown {
  border-top: none;
  border-right: 1px solid #F0F0F0;
  border-bottom: none;
  border-left: 1px solid  #F0F0F0;
}

.mainNav .dropdown .userDropdown a.dropdown-item {
  font-size: 14px;
  border-bottom: none;
}

.mainNav .dropdown .userDropdown a.dropdown-item:nth-child(2) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.mainNav .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainNav .nav-link {
  font-size: 14px;
  color: #777777;
}

.mainNav .nav-link:hover {
  color: #005CA9;
}

.mainNav .userImg {
  width: 30px;
  height: 30px;
  border: 1px solid #C4C4C4;
  background: #E3E3E3;
  float: right;
  margin-left: 5px;
  margin-top: -0.3rem;
  border-radius: 50%;
}

.mainNav .dropdown-menu {
  position: absolute;
}

.mainNav .dropdown-menu .dropdown-item {
  font-size: 9px;
  padding: 10px;
  border-bottom: 1px solid #C4C4C4;
}

.mainNav .dropdown-menu .dropdownImg {
  width: 40px;
  height: 40px;
  border: 1px solid #C4C4C4;
  background: #E3E3E3;
  margin-left: 5px;
  float: left;
  margin-top: -0.3rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: 3px;
}

.mainNav .dropdown-menu .dropdownContent {
  margin-left: 55px;
  font-size: 11px;
}

.mainNav .dropdown-menu .dropdownContentTitle {
  color: #333333;
  font-weight: 600;
  margin: 0;
}

.mainNav .dropdown-menu .dropdownContentDesc {
  color: #555;
  margin: 0;
}

.mainNav .dropdown-menu .dropdownContentDesc span {
  font-weight: bold;
  color: #005CA9;
}

.mainNav .dropdown-menu .viewall-btn {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 8px 5px 0 5px;
}

.mainNav .dropdown-menu .viewall-btn a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

.upload textarea {
  resize: none;
  min-height: 100px;
}

.upload .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
  height: 30px;
}

.upload .bootstrap-select > .dropdown-toggle.bs-placeholder, .upload .btn-light {
  height: 30px;
  border: 1px solid #ced4da;
  background: none;
  color: #777777;
}

.upload .bootstrap-select .dropdown-toggle .filter-option {
  padding: 4px 15px;
  font-size: 14px;
}

.upload .bootstrap-select .dropdown-menu.inner {
  font-size: 14px;
}

.memberlist .marked {
  color: #005CA9 !important;
}

.memberlist .getContact {
  color: #fff;
  background: #005CA9;
  border: 1px solid #005CA9;
  padding: 5px 25px;
  border-radius: 2px;
}

button.main-btn, .action-btns {
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #005CA9;
  background: #005CA9;
  color: #fff;
  letter-spacing: .3px;
  margin: 5px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5px 30px;
}

button.main-btn:hover, .action-btns:hover {
  background: #fff;
  color: #005CA9;
}

.action-btns {
  width: 100%;
}

.starrating > input {
  display: none;
}

/* Remove radio buttons */
.starrating > label:before {
  content: "\2605";
  /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #777;
  /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #ffca08;
}

/* Set yellow color when star checked */
.starrating > input:hover ~ label {
  color: #ffca08;
}

/* Set yellow color when star hover */
.personalInfo {
  font-size: 14px;
}

.personalInfo p {
  color: #777777 !important;
}

.personalInfoTitle {
  font-weight: bold;
  margin: 10px 0;
}

.personal .card-center {
  font-weight: normal !important;
}

.personal .card-center a {
  text-decoration: underline;
}

.personal .card-right .outline-disable-btn {
  border: 1px solid #777;
  color: #777777;
}

.personal .card-right .outline-disable-btn:hover {
  background: #777777;
  color: #fff;
}

.personal .card-right .outline-danger-btn {
  border-color: #EA3333;
  color: #EA3333;
}

.personal .card-right .outline-danger-btn:hover {
  background: #EA3333;
  color: #fff;
}

.personal .card-right button {
  border-radius: 3px;
  width: 100%;
  font-size: 13px;
  border: 1px solid #005CA9;
  background: none;
  color: #005CA9;
  font-weight: bold;
  margin: 5px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5px 0;
}

.personal .card-right button:hover {
  background: #005CA9;
  color: #fff;
}

.personal .card-right button.hire-btn {
  color: #fff;
  background: #005CA9;
}

.personal .card-right button.hire-btn:hover {
  background: #fff;
  color: #005CA9;
}

.myModal {
  color: #777777;
  font-size: 14px;
}

.myModal button.close {
  font-size: 20px;
}

.myModal .modal-title {
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

.myModal button.btn {
  color: #fff;
  background: #777777;
  font-size: 14px;
  width: 70px;
}

.client {
  color: #777;
  margin-top: 30px;
}

.client .breadcrumb {
  background: none;
  font-size: 14px;
  padding: 0;
}

.client .breadcrumb a {
  color: #777777;
}

.client .breadcrumb .active {
  color: #005CA9;
  font-weight: bold;
}

.client .clientInfo {
  text-align: center;
  color: #777777;
}

.client .clientInfo p {
  font-size: 14px;
  padding: 0;
  margin-bottom: 0;
}

.client .clientInfo p:first-child {
  font-weight: bold;
}

.client .clientInfo .UserImage {
  border-radius: 50%;
  width: 100px;
  position: relative;
  margin: 0 auto;
  height: 100px;
  background: #E3E3E3;
  border: 1px solid #C4C4C4;
}

.client .clientInfo .UserImage img {
  width: 100%;
}

.client .clientInfo .search-input {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
}

.client .clientInfo .search-input input {
  height: 30px;
  font-size: 12px;
  border: none;
}

.client .clientInfo .search-input button {
  border: none;
  background: #005CA9;
  width: 30px;
  padding: 0px 8px;
}

.client .clientInfo .search-input button img {
  width: 100%;
}

.client .clientInfo #filter-count {
  font-size: 14px;
}

.client .card {
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.client .card-body {
  padding: .75rem 2rem;
}

.client .card-body .form-control {
  height: 30px;
  font-size: 14px;
  padding: 4px 10px;
}

.client .card-header {
  padding: .75rem 2rem;
  background: #FBFBFB;
  font-weight: bold;
  color: #777777;
  font-size: 14px;
}

.client .card-header .threeDots {
  float: right;
  background: transparent url(../img/more.svg);
  border: none;
  height: 18px;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.client .card-header .dropdown-menu {
  font-size: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.client .card-header .dropdown-menu a {
  display: block;
  padding: 2px 15px;
  text-decoration: none;
  font-size: 14px;
}

.client .card .userTitle {
  font-size: 12px;
}

.client .card .userTitle .userImg {
  float: left;
}

.client .card .userTitle p {
  padding: 0;
  margin: 0 50px;
}

.client .card .userTitle .userName {
  color: #005CA9;
}

.client .card .userTitle .userCategory {
  font-weight: bold;
}

.client .card .userTitle .hireBtn {
  float: right;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 2px 15px;
  color: #005CA9;
  border-radius: 2px;
  margin: 5px 0;
}

.client .card .userInfo {
  margin: 8px 0;
  font-size: 12px;
}

.projectList {
  font-size: 14px;
}

.projectList .list-group-item {
  padding: 0.75rem 2rem;
}

.projectList .list-group-item:hover .title {
  color: #005CA9;
  text-decoration: underline;
}

.techInfo {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.techInfo li {
  margin: 0 10px 0 0;
  background: #E5E5E5;
  padding: 2px 20px;
  color: #777777;
  border-radius: 20px;
  display: inline-block;
}

.techInfo li:hover {
  color: #fff;
  background: #36C8D9;
}

.projectHeader ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.projectHeader ul li:not(.title) {
  color: #fff;
  font-size: 12px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 20px;
  background: #005CA9;
  padding: 2px 20px;
}

.projectHeader ul .title {
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
  margin-left: 0;
  font-weight: bold;
  color: #333333;
}

.avatar {
  position: relative;
}

.custom-file-input1 {
  margin: 20px 0;
  color: transparent;
}

.custom-file-input1::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input1::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: 'Change avatar';
  color: #777777;
  display: inline-block;
  background: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input1:hover::before {
  border-color: black;
}

.custom-file-input1:active {
  outline: 0;
}

.custom-file-input1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.settings .tableinputs {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 100%;
  color: #333;
}

.settings button.danger {
  height: 30px;
  padding: 2px 25px;
}

.settings .table td:last-child {
  width: 100px;
}

.settings button.save {
  padding: 2px 50px;
  font-size: 14px;
  color: #fff;
  background: #005CA9;
  border: 1px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 2px;
}

.settings button.save:hover {
  color: #005CA9;
  background: #fff;
  border-color: #005CA9;
}

.settings .bootstrap-select {
  width: 100% !important;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.settings .bootstrap-select button {
  padding: 3px 10px;
  outline: none;
}

.settings .bootstrap-select .dropdown-menu {
  font-size: 14px;
}

.settings .bootstrap-select .dropdown-menu input {
  height: 30px;
  padding: 5px 10px;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.settings .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-size: 14px;
}

.settings textarea {
  resize: none;
  width: 100%;
  height: 100px;
  background: #FBFBFB;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.landing .nav-link {
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid #005CA9;
  padding: 2px 20px !important;
  margin: 0 5px;
  border-radius: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.landing .sign {
  color: #fff;
  background: #005CA9;
}

.landing .sign:hover {
  color: #005CA9;
  background: #fff;
}

.landing .login {
  color: #005CA9;
}

.landing .login:hover {
  color: #fff;
  background: #005CA9;
}

.forgot {
  padding: 10px 0;
  text-decoration: none !important;
  color: #005CA9;
  font-weight: bold;
}

#signIn h3, #signUp h3 {
  color: #333;
  font-weight: bold;
}

#signIn .form-control, #signUp .form-control {
  height: 30px;
  font-size: 14px;
}

.landing-main {
  background: url(../img/back.svg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 100%;
}

.landing-main .centered {
  top: 52%;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-main h2 {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.landing-main .marked {
  color: #fff;
  background: #005CA9;
  padding: 2px 10px;
}

.landing-main img {
  max-width: 400px;
}

.landing-main button {
  outline: none;
  margin: 20px 0;
  border: 2px solid transparent;
  background: #fff;
  border-radius: 40px;
  padding: 5px 20px;
  color: #005CA9;
  font-weight: bold;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.landing-main button:hover {
  color: #fff;
  background: #005CA9;
  border-color: #fff;
}

.landing-main p span {
  display: block;
  color: #005CA9;
  font-size: 20px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (max-width: 990px) and (orientation: landscape) {
  .landing-main h2 {
    font-size: 1.5em;
  }
  .landing-main p {
    margin: 0;
    font-size: 0.9rem;
  }
  .landing-main p span {
    font-size: 0.9rem;
    display: initial;
  }
  .landing-main button {
    padding: 3px 10px;
    font-size: 12px;
  }
  .landing-main img {
    max-width: 180px;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .nav-link span {
    display: none;
  }
  .mainNav .dropdown {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 10px;
  }
  .mainNav {
    padding: 0 1rem;
  }
  .card {
    margin: 5px 0;
  }
  .landing-main h2 {
    font-size: 1em;
  }
  .landing-main p {
    margin: 0;
    font-size: 0.7rem;
  }
  .landing-main p span {
    font-size: 0.7rem;
    display: initial;
  }
  .landing-main button {
    padding: 1px 5px;
    font-size: 12px;
  }
  .landing-main img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .card {
    margin: 5px 0;
  }
  .navbar-brand {
    width: 70%;
  }
  .navbar-brand img {
    width: 300px;
  }
  .nav-link span {
    display: none;
  }
  .mainNav .dropdown {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 10px;
  }
  .nav-item {
    display: inline;
  }
  .mainNav {
    padding: 0 1rem;
  }
  .mainNav .dropdown-menu {
    right: 0;
    left: inherit;
  }
}

@media only screen and (max-width: 567px) and (orientation: portrait) {
  .navbar-brand {
    width: 70%;
  }
  .navbar-brand img {
    width: 100%;
  }
  .landing .navbar-brand {
    width: 150px;
  }
  .landing .nav-link {
    margin: 0 2px;
    font-size: 10px;
    padding: 0 10px !important;
  }
  .landing-main h2 {
    font-size: 1.5em;
  }
  .landing-main p {
    margin: 15px 0;
    font-size: 0.9rem;
  }
  .landing-main p span {
    font-size: 0.9rem;
    display: initial;
  }
  .landing-main img {
    max-width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */